{% extends 'base.html' %} {% load static %} {% block title %}Projects
{%endblock%} {% block content %}
<div class="bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60">
  <p
    style="font-family: Poppins-Bold"
    class="text-4xl font-extrabold py-5 text-center md:text-start"
  >
    Projects Completed
  </p>
  <div
    style="box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05)"
    class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg"
  >
    <img
      class="post-img-url rounded-lg object-cover"
      width="350px"
      height="180px"
      src="../media/images/ethaum.png"
      alt="image"
    />
    <div>
      <p
        class="font-black text-xl text-transparent bg-clip-text bg-gradient-to-r from-blue-100 via-blue-300 to-blue-600"
      >
        Ethaum - SaaS MarketPlace
      </p>
      <p></p>
      <p class="text-justify my-3">
        A robust SaaS marketplace built with the MERN stack, featuring Google
        authentication and seamless backend automation.
      </p>
      <ul class="mb-3">
        <li>
          &#9989; Created SaaS marketplace with MERN stack and Google
          authentication.
        </li>
        <li>&#9989; Implemented search functionality and multi menu navbar.</li>
        <li>
          &#9989; Automated processes for API creation and product integration.
        </li>
      </ul>
      <span class="text-lg font-bold">Technologies used</span><br />
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-react"></i> React.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-node-js"></i> Node.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-solid fa-server"></i> Express.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-solid fa-database"></i> MongoDB</span
        >
      </div>
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-envelope"></i> Postman</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-wind"></i> Tailwind CSS</span
        >
      </div>
      <div class="flex space-x-4 my-3">
        <a href="https://github.com/coderpawan/Ethaum" target="_blank" class=""
          ><button
            class="bg-gray-800 p-2 px-4 rounded-xl border-2 border-gray-700 hover:bg-gray-700 transition delay-75 ease-in-out my-3"
          >
            <i class="bi bi-github"></i> Github
          </button></a
        >
        <a href="https://ethaum.vercel.app/" target="_blank"
          ><button
            class="bg-blue-600 p-2 px-4 rounded-xl hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
          >
            Demo <i class="bi bi-box-arrow-up-right"></i></button
        ></a>
      </div>
    </div>
  </div>
  <div
    style="box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05)"
    class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg"
  >
    <img
      class="post-img-url rounded-lg object-cover"
      width="350px"
      height="180px"
      src="../media/images/my-social-media.png"
      alt="image"
    />
    <div>
      <p
        class="font-black text-xl text-transparent bg-clip-text bg-gradient-to-r from-blue-100 via-blue-300 to-blue-600"
      >
        My Media - A Social Media App
      </p>
      <p class="text-justify my-3">
        A feature-rich social media app built using MERN stack, offering
        seamless authentication, real-time interactions, and modern UI.
      </p>
      <ul class="mb-3">
        <li>&#9989; Seamless JWT user authentication and profile management</li>
        <li>&#9989; Real-time chat with friends using Socket.io</li>
        <li>&#9989; Follow your friends and their posts</li>
        <li>&#9989; Like, comment, post, save, and search functionalities</li>
        <li>&#9989; Cloudinary Integration for Image storage</li>
        <li>&#9989; Modern dark UI with Tailwind CSS</li>
        <li>&#9989; Nodemailer Integration for sending emails</li>
      </ul>
      <span class="text-lg font-bold">Technologies used</span><br />
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-react"></i> React.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-node-js"></i> Node.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-solid fa-server"></i> Express.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-solid fa-database"></i> MongoDB</span
        >
      </div>
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-envelope"></i> Postman</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-css3-alt"></i> Tailwind CSS</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-exchange-alt"></i> Socket.io</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-sync"></i> Redux</span
        >
      </div>
      <div class="flex space-x-4 my-3">
        <a
          href="https://github.com/coderpawan/My-Social-media"
          target="_blank"
          class=""
          ><button
            class="bg-gray-800 p-2 px-4 rounded-xl border-2 border-gray-700 hover:bg-gray-700 transition delay-75 ease-in-out my-3"
          >
            <i class="bi bi-github"></i> Github
          </button></a
        >
        <a href="https://my-social-media-nine.vercel.app/" target="_blank"
          ><button
            class="bg-blue-600 p-2 px-4 rounded-xl hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
          >
            Demo <i class="bi bi-box-arrow-up-right"></i></button
        ></a>
      </div>
    </div>
  </div>
  <div
    style="box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05)"
    class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg"
  >
    <img
      class="post-img-url rounded-lg object-cover"
      width="350px"
      height="180px"
      src="../media/images/ky.png"
      alt="image"
    />
    <div>
      <p
        class="font-black text-xl text-transparent bg-clip-text bg-gradient-to-r from-blue-100 via-blue-300 to-blue-600"
      >
        Kashiyatra - IIT BHU Cultural Fest
      </p>
      <p class="text-justify my-3">
        An immersive website experience featuring Augmented Reality, interactive
        elements, and elegant floral designs.
      </p>
      <ul class="mb-3">
        <li>
          &#9989; Augmented Reality showcases 3D floral designs on the landing
          page.
        </li>
        <li>
          &#9989; Custom cursor creates a transparent circle effect on hover.
        </li>
        <li>&#9989; Liquid animation enhances the testimonials section.</li>
        <li>
          &#9989; Beautiful floral backgrounds throughout the entire page.
        </li>
      </ul>
      <span class="text-lg font-bold">Technologies used</span><br />
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-html5"></i> HTML</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-css3-alt"></i> Tailwind CSS</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-square-js"></i> Js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-vr-cardboard"></i> Augmented Reality</span
        >
      </div>
      <div class="flex space-x-4 my-3">
        <a
          href="https://github.com/Kashiyatra/KY-2022-Frontend"
          target="_blank"
          class=""
          ><button
            class="bg-gray-800 p-2 px-4 rounded-xl border-2 border-gray-700 hover:bg-gray-700 transition delay-75 ease-in-out my-3"
          >
            <i class="bi bi-github"></i> Github
          </button></a
        >
        <a href="https://kashiyatra-2022.netlify.app/" target="_blank"
          ><button
            class="bg-blue-600 p-2 px-4 rounded-xl hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
          >
            Demo <i class="bi bi-box-arrow-up-right"></i></button
        ></a>
      </div>
    </div>
  </div>
  <div
    style="box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05)"
    class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg"
  >
    <img
      class="post-img-url rounded-lg object-cover"
      width="350px"
      height="180px"
      src="../media/images/e-commerce.png"
      alt="image"
    />
    <div>
      <p
        class="font-black text-xl text-transparent bg-clip-text bg-gradient-to-r from-blue-100 via-blue-300 to-blue-600"
      >
        E-Commerce Platform
      </p>
      <p class="text-justify my-3">
        A comprehensive E-commerce platform with robust admin capabilities for
        seamless order management and secure transactions.
      </p>
      <ul class="mb-3">
        <li>&#9989; Secure JWT authentication and Profile Management</li>
        <li>&#9989; Integrated Payment Gateway with Cart functionality</li>
        <li>
          &#9989; Features product reviews, filters, and favourite products
        </li>
        <li>&#9989; Admin can manage products and track orders</li>
      </ul>
      <span class="text-lg font-bold">Technologies used</span><br />
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-react"></i> React.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-node-js"></i> Node.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-solid fa-server"></i> Express.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-solid fa-database"></i> MongoDB</span
        >
      </div>
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-envelope"></i> Postman</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-css3-alt"></i> Tailwind CSS</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-bolt"></i> Vite.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-sync"></i> Redux</span
        >
      </div>
      <div class="flex space-x-4 my-3">
        <a
          href="https://github.com/coderpawan/E-commerce"
          target="_blank"
          class=""
          ><button
            class="bg-gray-800 p-2 px-4 rounded-xl border-2 border-gray-700 hover:bg-gray-700 transition delay-75 ease-in-out my-3"
          >
            <i class="bi bi-github"></i> Github
          </button></a
        >
        <a href="https://github.com/coderpawan/E-commerce" target="_blank"
          ><button
            class="bg-blue-600 p-2 px-4 rounded-xl hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
          >
            Demo <i class="bi bi-box-arrow-up-right"></i></button
        ></a>
      </div>
    </div>
  </div>
  <div
    style="box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05)"
    class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg"
  >
    <img
      class="post-img-url rounded-lg object-cover"
      width="350px"
      height="180px"
      src="../media/images/mas.png"
      alt="image"
    />
    <div>
      <p
        class="font-black text-xl text-transparent bg-clip-text bg-gradient-to-r from-blue-100 via-blue-300 to-blue-600"
      >
        My Analytics School
      </p>
      <p class="text-justify my-3">
        A comprehensive dashboard application to track student performance,
        enhancing educational insights and user experience.
      </p>
      <ul class="mb-3">
        <li>&#9989; Designed and built using React.js and Tailwind</li>
        <li>&#9989;Ensures cross-device responsiveness</li>
        <li>&#9989; Deployed on AWS with Amplify and Elastic Beanstalk</li>
        <li>&#9989; Utilizes EC2 for database management</li>
      </ul>
      <span class="text-lg font-bold">Technologies used</span><br />
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-react"></i> React.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-node-js"></i> Node.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-solid fa-server"></i> Express.js</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-solid fa-database"></i> MongoDB</span
        >
      </div>
      <div class="flex space-x-2 my-3">
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-envelope"></i> Postman</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fa-brands fa-css3-alt"></i> Tailwind CSS</span
        >
        <span class="text-xs bg-gray-600 py-1 px-4 rounded-full"
          ><i class="fas fa-cloud"></i> AWS</span
        >
      </div>
      <div class="flex space-x-4 my-3">
        <a href="https://www.myanalyticsschool.com/" target="_blank"
          ><button
            class="bg-blue-600 p-2 px-4 rounded-xl hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3"
          >
            Demo <i class="bi bi-box-arrow-up-right"></i></button
        ></a>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <a href="https://github.com/coderpawan" target="_blank" class=""
      ><button
        class="hover:bg-gray-600 p-2 px-4 rounded-xl bg-blue-600 outline-blue-600 transition delay-75 ease-in-out my-3"
      >
        Load more <i class="bi bi-arrow-clockwise font-extrabold"></i></button
    ></a>
  </div>
</div>
{% endblock %}
